<div ng-controller="productCtrl" ng-init="getProducts()">
    <table class="table table-striped table-bordered">
        <tr class="header">
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th></th>
        </tr>
        <tr ng-repeat="product in products">
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.category}}</td>
            <td>{{product.price | currency}}</td>
            <td name="{{product.name}}">
                <button ng-click="edit($index)" class="btn btn-sm btn-primary">
                    Edit
                </button>
                <button ng-click="delete(product.id,$index)" class="btn btn-sm btn-primary">
                    Delete
                </button>
            </td>
        </tr>
        <tr id="inputs">
            <td><input placeholder="Name" type="text" ng-model="userData.name"></td>
            <td><input placeholder="Description" type="text" ng-model="userData.description"></td>
            <td><input placeholder="Category" type="text" ng-model="userData.category"></td>
            <td><input placeholder="Price" type="text" ng-model="userData.price"></td>
            <td name="btns">
                <button ng-hide="userIndex" ng-disabled="checkInput()" ng-click="create()" class="btn btn-sm btn-primary">
                    Create
                </button>
                <button ng-show="userIndex" ng-click="cancelEdit()" class="btn btn-sm btn-primary">
                    Cancel
                </button>

                <button ng-show="userIndex" ng-click="saveEdited(products[userIndex].id,userIndex)" class="btn btn-sm btn-primary">
                    Save
                </button>
            </td>
        </tr>
    </table>
    <div id="infoInput" ng-show=checkInput() ng-class="showWarning()">{{infoHandler()}}</div>
</div>