/*smaller than 550  */
#loginForm {
    min-height:490px;
    min-width:190px;
}

td[name] {
    display: flex;
    justify-content: space-between;
}

.row {
    margin: 0;
}
#btnMenu button {
    margin-top:auto;
    box-shadow:2px 2px grey;
}

#btnMenu {
    max-width:100%;
    display:flex;
    padding: 0;
    position:sticky;
    z-index:1;
    top: 0;
}

.header, #orders tr:nth-child(1) {
    display: none;
}

#inputs {
    background:#e4d5d5;
    bottom:0;
    position: sticky;
}

#inputs > td[name] > button:nth-child(1) {
    margin:0 auto;
}

#inputs > td[name] {
    padding:0 0.75rem;
}

#inputs>td {
    padding: 0;
}

tr {
    display: flex;
    flex-direction:column;
    width: 100%;
    text-align:center;
    margin-top: 0.5em;
    border:1px solid black;
}

#tablePH {
    padding: 0;
}

#infoInput {
    display: none;
}
/*orders  */
#orderDetails {
    position:sticky;
    bottom: 0;
    max-height:300px;
    overflow-x: scroll;
    background: #e4d5d5;
}

#orderDetails tbody {
    display: flex;
}
#orderDetails tbody tr {
    flex-shrink: 0;
}

#orderDetails> h3 {
    display: none;
}

#orderDetails tr:nth-child(1) {
    display: none;
}

.detailsPressed {
    background: #ff5200;
    outline:4px solid black !important;
    border-color: black;
}

/*550px and higher  */
@media (min-width:550px) {

    #orders td {
        vertical-align:middle;
        text-align:center;
    }

    #btnMenu {
        position:initial;
        z-index:0;
    }

    td[name] {
        min-width: 160px;
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }

    td[name]>button:last-child {
        margin-left:18%;
    }

    #inputs {
        position:static;
        bottom: auto;
        background:none;
    }

    #inputs>td {
        padding: .75rem;
    }


    #loginForm {
        margin:auto;
        width:35%;
        margin-top: 20vh;
    }

    tr {
        display: table-row !important;
        width: 100%;
        text-align:center;
        border: none;
    }

    input {
        width:75%;
    }

    .row {
        flex-direction:column;
       
    }

    #infoInput {
        display: block;
    }

    

    #tablePH {
        max-width: 100%;
        padding: 1.25rem;
        margin-top: 0.3em;

    }

    /*orders  */
    #orderDetails {
        position:static;
        bottom: 0;
        max-height:fit-content;
        overflow-x: auto;
        background:none;
    }

    #orderDetails tbody {
        display: table-row-group;
    }

    #orderDetails tbody tr {
        flex-shrink: initial;
    }

    #orderDetails> h3 {
        display: block;
    }

    #orderDetails tr:nth-child(1) {
        display: table-row;
    }

}
/*992px and higher  */
@media (min-width:992px) {

    #btnMenu {
        max-width:16.0%;
        display:block;
    }

    #btnMenu button {
        margin-top:0.5rem;
    }

    .row {
        flex-direction:row;
    }

    #loginForm {
        margin:auto;
        width:35%;
        margin-top: 20vh;
    }

    input {
        width:75%;
    }

    #tablePH {
        max-width: 83.3%;
        margin-left: 0.6%;
    }
}