<h1 >Your Cart</h1>
<table id="checkoutTable" class="table" ng-controller="checkoutController">
    <thead>
        <th scope="col">Quantity</th>
        <th scope="col">Item</th>
        <th scope="col">Price</th>
        <th scope="col">Subtotal</th>
    </thead>
    <tbody>
        <tr ng-repeat="item in cartData">
            <td><span class="labelCheckout">Quantity:</span><span>{{item.count}}</span></td>
            <td><span class="labelCheckout">Item:</span><span>{{item.name}}</span></td>
            <td><span class="labelCheckout">Price:</span><span>{{item.price | currency}}</span></td>
            <td><span class="labelCheckout">Subtotal:</span><span>{{item.price*item.count | currency}}</span></td>
            <td class="removeBtnCell"><button class="btn btn-warning" ng-click="remove(item.id)">Remove</button></td>
        </tr>
        <tr class="summary">
            <td></td>
            <td></td>
            <td>Total:</td>
            <td><span>Total:</span>{{countTotal() | currency}}</td>
        </tr>
        <tr>
            <td colspan="4" class="text-center">
                <a href="#!/products" role="button" class="btn btn-primary">Continue shopping</a>
                <a href="#!/placeorder" role="button" class="btn btn-primary">Place order now</a>
            </td>
        </tr>
    </tbody>
</table>

