@media (min-width:550px) {
    #navigationBar>a {
        display: inline-block;
    }

    #navigation {
        display: block;
    }

    #categoriesMenuContainer {
        display: none;
    }

    h3 {
        font-size: 1.75rem !important;
    }

    #cartWidget {
        width: auto;
    }
    #products div[ng-repeat] button {
        height: 50px;
        padding: 0;
        width: 100%;
    }

    #navigationBar {
        flex-wrap: unset;
    }
    /* checkout */
    #checkoutTable tr:last-child>td {
        padding: 0.75rem;
    }

    #checkoutTable tr:last-child a {
        padding: 0.8rem 3.3rem;
    }

    /* placeOrder */

    #placeOrderForm {
        width: 80%;
    }

    /* successTemplate */
    .orderSuccess, #backToShoppingBtn {
        text-align: left;
    }

    /* pagination */
    #products {
        display: flex;
        display: -ms-flexbox;
        flex-direction: column;
    }

    #pagination {
        flex-grow: 1;
        -ms-flex-positive:1;
    }

    #pagination>pagination>div {
        display: flex;
        display: -ms-flexbox;
        justify-content: space-evenly;
        height: 100%;
        align-items: flex-end;
        -ms-flex-align: end;
    }

    #pagination .btn-sm {
        padding: 0.25rem 0.5rem;
    }

}