@media (min-width:550px) {
    #navigationBar>a {
        display: inline-block;
    }

    #navigation {
        display: block;
    }

    #categoriesMenuContainer {
        display: none;
    }

    h3 {
        font-size: 1.75rem !important;
    }

    #cartWidget {
        width: auto;
    }

    #navigationBar {
        flex-wrap: unset;
    }
    /* checkout */
    #checkoutTable tr:last-child>td {
        padding: 0.75rem;
    }

    #checkoutTable tr:last-child a {
        padding: 0.8rem 3.3rem;
    }

    /* placeOrder */

    #placeOrderForm {
        width: 80%;
    }

    /* successTemplate */
    .orderSuccess {
        text-align: left;
    }
}