#navigationBar>a {
    display: none;
}

#navDropdown {
    width: 100%;
    margin-bottom: 0.4rem;
}

#cartWidget>div {
    flex-direction: column;
}

#categoriesMenuContainer, #cartWidgetContainer, #cartWidget, #cartWidget a {
    width: 100%;
}

#categoriesMenuContainer ul{
    width: 100%;
    text-align:center;
}

#cartWidget {
    flex-direction: column;
}

#navigation {
    display: none;
}

h3 {
    font-size: 1.3rem !important;
}

#products div[ng-repeat] button {
    height: 50px;
    padding: 0;
    width: 95px;
}


/* ext */

.price-tag {
    padding: .375rem .75rem;
    border: solid 1px transparent;
    font-size: 1rem;
}

.removeBtnCell {
    border-top: none;
}

/* animation */
.ngFade.ng-enter,.ngFade.ng-hide-remove{
    transition: 1s linear all;
    opacity:0;
}

.ngFade.ng-enter-active,.ngFade.ng-hide-remove-active {
    opacity:1;
}

/* checkout */

#checkoutTable tr:not(tr:last-child) {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid;
    margin-bottom: 10px;
}

#checkoutTable tr:last-child>td {
    padding: 0;
}

#checkoutTable tr:last-child a {
    padding: 0.5rem 0.3rem;
}

#checkoutTable tr:last-child a:first-child {
    margin-right: 10vw;
}

#checkoutTable td {
    display: flex;
    justify-content:space-between;
}

.removeBtnCell {
    justify-content: center !important;
}

#checkoutTable span:nth-child(1) {
    font-weight: bold;
}

#checkoutTable thead {
    display: none;
}

.summary td:not(td:last-child) {
    display: none !important;
}

.labelCheckout {
    display: inline;
}

.summary td:nth-child(4)>span {
    display: inline;
}

/* placeOrder */

#placeOrderContainer {
    margin-left: 1em;
}

.ng-invalid.ng-touched {
    background-color: lightpink;
}

.ng-valid.ng-touched {
    background-color: lightgreen;
}

span.error {
    background-color: red;
    font-weight: bold;
}

#placeOrderForm {
    width: 100%;
}

/* successTemplate */

.orderSuccess {
    text-align: center;
}